/*index.html*/
body {	
	font-family: "Lato", 'Helvetica Neue', Helvetica, Sans-serif;
	/*background-color: #E3DEC1;*/
}

header {
	text-align: center
}

.navbar.navbar-default{
	background-color: #d1a705;
}

nav a {
	color: white;
	margin: 10px;
}

nav a:hover {
	color: #39275b;
	text-decoration: none;
}	

h1 {
	text-align: center;
	font-size: 24px;
 	color: #39275b; 
	
}

/*.table.table-striped {
	border-style: solid;
	border-width: px;
	border-color: #39275b;
}
*/
table a {
	color: #39275b;
}

table a:hover {
	color: #d1a705;
	text-decoration: none;
}

table th {
	text-align: center;
}

table {
	text-align: center;
}

p {
	text-align: center;
	padding-bottom: 20px;
}

iframe {
	position: relative;
 	width: 100%;
 	height: 350px;
}

@media screen and (min-width: 768px) {
	#banner{
		background-image: url(../img/banner.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 163px;
	}

	/*index.html*/
	h1 {
		font-size: 30px;
	}

	nav {
		font-size: 18px;
		padding-top: 10px
	}

	/*all pages*/
	p {
		font-size: 16px;
	}

	iframe {
		width: 100%;
		height: 700px;
	}

	/*dawg-coffee.html*/


	/*police-shooting.html*/


	/*crud-review.html*/


	/*spotify-challenge.html*/

}	