<!-- home -->
<!-- clear browser cache if links aren't working -->
<h1 class="pageTitle">{{homeTitle}} </h1>
<p class="pageDescription">{{homeDescription}}</p>
<div>
	<table class="table table-striped">
		<tr>
		<th>Challenge</th>
		<th>Date Completed</th>
		<th>Original Instructions</th>	
		</tr>
		<tr ng-repeat="challenge in data2">
			<td><a ng-href="{{challenge.ChallengeLink}}" target="_blank">{{challenge.Challenge}}</a></td>
			<td>{{challenge.Date}}</td>
			<td><a ng-href="{{challenge.Link}}" target="_blank">Link</a></td>
		</tr>
	</table>
</div>